<p id="notice"><%= notice %></p>

<p>
  <strong>order_title:</strong>
  <%= @setting.order_title %>
</p>
<p>
  <strong>show_order_then:</strong>
  <%= @setting.show_order_then %>
</p>

<p>
  <strong>show_active:</strong>
  <%= @setting.show_active %>
</p>